.button {
  display: inline-flex;
  align-items: center;
  column-gap: 8px;
  padding: 8px 16px 8px 12px;
  font-weight: 600;
  color: var(--color-bg-primary);
  border: none;
  border-radius: 8px;
  text-decoration: none;
  cursor: pointer;
}

.button--primary {
  background-color: var(--color-text-primary);
}

.button--accent {
  background-color: var(--color-button-primary-bg);
}