.header {
  display: flex;
  align-items: center;
  height: var(--header-height);
  background-color: var(--color-header-bg);
}

.headerInner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}